html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f8fa;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1;  
}


    .tweet-box {
        width: 600px;
        border-radius: 20px;
        
    }

    .tweet-input textarea {
        width: 100%;
        height: 140px;
        border: none;
        outline: none;
        resize: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 15px;
        background-color: #f0f1f2;
    }
    .tweet-input textarea:focus {
        background-color: white;
        border: 2px solid #171515;
    }

    .card {
        border: 1px solid rgb(243, 237, 237);
        border-radius: 20px;
    }

    #id_title {
        border: solid rgb(178, 178, 178) 1px;
        margin-bottom: 10px;
    }

    .register-card {
        width: 450px;
        border-radius: 20px;
    }

    form input {
        border-radius: 8px !important;
        border: solid rgb(211, 209, 209) 1px;
    }


    .post-card {
        width: 600px;
        border-radius: 20px;
        overflow: hidden; 
        border: none;
    }

    .post-banner {
        width: 100%;        
        max-width: 600px;   
        max-height: 400px;   
        object-fit: contain;   
        display: block;
        margin-bottom: 1rem;
    }

    .post-card h3 {
        font-size: 1.5rem;
    }

    .post-card p {
        font-size: 1rem;
        line-height: 1.5;
    }



    .post-thumb {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .post-card h5 {
        font-size: 1.2rem;
    }

    .post-card p {
        font-size: 0.95rem;
        line-height: 1.4;
    }

    a.text-dark:hover {
        text-decoration: underline;
    }