{% extends 'layout.html' %}

{% block title %}
    Login page
{% endblock %}

{% block content %}

<section>
    <div class="content">
    <h2>Login</h2>

       <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

{% endblock %}