<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Taitter
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>

        <a href="/"><span role="img" aria-label="Home" title="Home">🏠</span></a> 
        <a href="{% url 'posts:list' %}"><span role="img" aria-label="Posts" title="Posts">📰</span></a> <!-- Refers to posts/urls.py -->
       
        {% if user.is_authenticated %}
            <a href="{% url 'posts:new_post' %}"><span role="img" aria-label="New post" title="New post">🆕</span></a>
            <a href="{% url 'users:register' %}"><span role="img" aria-label="User Registration" title="User Registration">🚀</span></a>
            <form class="login-logout" action="{% url 'users:logout' %}" method="post">
            <button class="logout-button" aria-label="Logout" title="Logout">🚪</button>
        {% else %}
           
            <a class="login-logout" href="{% url 'users:login' %}"><span role="img" aria-label="User login" title="User login">🎫</span></a>
        {% endif %}
           
        {% csrf_token %}
       </form>
            
    </nav>
    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <a href="/"><span role="img" aria-label="Home" title="Home">HOME</span></a> 
        <a href="{% url 'posts:list' %}"><span role="img" aria-label="Posts" title="Posts">POSTS</span></a> <!-- Refers to posts/urls.py -->
       
        {% if user.is_authenticated %}
            <a href="{% url 'posts:new_post' %}"><span role="img" aria-label="New post" title="New post">NEW POST</span></a>
            <a href="{% url 'users:register' %}"><span role="img" aria-label="User Registration" title="User Registration">USER REGISTRATION</span></a>
            <form class="logout" action="{% url 'users:logout' %}" method="post">
            <div class="logout-button-footer"><button class="logoutButtonFooter" aria-label="Logout" title="Logout">🚪</button></div>
        {% else %}
           
            <a href="{% url 'users:login' %}"><span role="img" aria-label="User login" title="User login">LOG IN</span></a>
        {% endif %}
           
        {% csrf_token %}
       </form>
    </footer>
</body>
</html>