{% extends 'layout.html' %}


{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center mt-4">
    <div class="card post-card shadow-sm">

        {% if post.banner %}
            <img src="{{ post.banner.url }}" alt="{{ post.title }}" class="img-fluid rounded-top post-banner" id="heart">
        {% endif %}

        <div class="p-4">
            <div class="post-title">
                <h3 class="fw-bold">{{ post.title }}</h3>
            </div>
            <p class="text-muted mb-3">{{ post.date|date:"d.m.Y H:i" }}</p>
            <p>{{ post.body }}</p>
        </div>
    </div>
</div>



{% endblock %}
