{% extends 'layout.html' %}
{% load lucide_tags %} 

{% block title %}Posts{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="mb-4 fw-bold">Posts</h1>

    {% for post in posts %}
    <div class="card mb-3 shadow-sm post-card d-flex flex-row align-items-start p-3">

        {% if post.banner %}
        <div class="me-3 flex-shrink-0">
            <img src="{{ post.banner.url }}" alt="{{ post.title }}" class="post-thumb rounded">
        </div>
        {% endif %}

        <div>
            <h5 class="fw-bold mb-1">
                <a href="{% url 'posts:page' slug=post.slug %}" class="text-dark text-decoration-none">
                    <div class="post-title">
                        {{ post.title }}</a>
                        <div class="like-count-and-button">
                            <span class="like-count">{{ post.like_count }}</span>
                            <button class="like-btn" data-post-id="{{ post.id }}">
                                {% lucide "heart" class="lucide-icon" %}
                            </button>
                        </div>
                    </div>
            </h5>
            <p class="text-muted mb-1">{{ post.date|date:"d.m.Y H:i" }} by {{ post.author.username }}</p>
            <p>{{ post.body }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
